@media screen  and (max-width:900px)
{
    .content 
    {
        grid-template-columns: repeat(2,1fr);
    }
    .content .box1
    {
        grid-column: span 2/auto;
        
    }
    .content .box1 .image
    {
        height: 30vh;
        width: 90vw;
    }
    .content .box1 .image img
    {
        height: 30vh;
        width:100vw ;
    }
    .box2 .right
    {
        width: 100vw;
        height: 20vh;
    }
   
    
}



@media screen  and (max-width:500px)
{
    .content 
    {
        grid-template-columns: repeat(1,1fr);
    }
    .content .box1
    {
        grid-column: span 2/auto;
        
    }
    .content .box1 .image
    {
        height: 30vh;
        width: 90vw;
    }
    .content .box1 .image img
    {
        height: 30vh;
        width:100vw ;
    }
    .box3{
        grid-row: span 1;
        grid-column: span 2;
     }
     .box4{
        grid-row: span 1;
        grid-column: span 2;
     }
     .box3 .image
     {
        width: 80vw;
        height: 20vh;
     }
    .box2 .right
     {
         width: 76vw;
         height: 15vh;
     } 
    
     .in2
     {
             flex-direction: column;
     }
     
     .content .box2 .image 
     {
        width: 60vw;
        height: 10vh;
     }
}



.hover:hover
{
    transition: ease-in-out;
}
.hover:hover .image
{
    transform: scale(1.1);
    transition:ease-in-out;
    transition: 2s;
}
.hover:hover .image1
{
    transform: scale(1.1);
    transition:ease-in-out;
    transition: 2s;
}


    